<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://funcionenvioemailprueba.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/329121c2-6cb4-4381-a30d-18a02c679b95/resourceGroups/PeliculasAPI/providers/Microsoft.Web/sites/FuncionEnvioEmailPrueba</ResourceId>
    <IsLinux>true</IsLinux>
    <PublishUrl>https://funcionenvioemailprueba.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>